*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  position: relative;
}
.contaimain{
  width: fit-content;
  height: fit-content;
  /* border: 1px solid #303030; */
  margin: 3vw;
  padding: 10px;
}
.head1{
  width: 100%;
  height: fit-content;
  font-size: 55px;
  font-weight: 800;
  position: absolute;
  left: 1%;
  top: 15%;
  position: fixed;
  color: #313131;
}
.head2{
  width: 100%;
  height: fit-content;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  left: 1%;
  top: 20%;
  position: fixed;
  color: #646464;
}
.covers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.covers span{
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  color: #474747;
}
.tf{
  width: 100px;
  padding-top: 3px;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.144);
  color: red;
}
.cov2 .co1{
  font-size: 34px;
  font-weight: 800;
  color: #180083;
}
.cov2 .monthly-or-yearly{
  color: #474747;
}
@media only screen and (max-width:1491px) {
  .head1{
    /* position: absolute; */
    top: 12%;
    left: 1%;
    /* font-size: 2vw; */
  }
  .head2{
    top: 19%;
    left: 1%;
  }
}
@media only screen and (max-width:551px) {
  .head1{
    /* position: absolute; */
    top: 6%;
    left: 1%;
    /* font-size: 2vw; */
  }
  .head2{
    top: 10%;
    left: 1%;
  }
}
@media only screen and (max-width:1212px) {
  .head1{
    /* position: absolute; */
    top: 6%;
    left: 1%;
    /* font-size: 2vw; */
  }
  .head2{
    top: 10%;
    left: 1%;
  }
}
@media only screen and (max-width:1267px) {
  .head1{
    /* position: absolute; */
    top: 6%;
    left: 1%;
    /* font-size: 2vw; */
  }
  .head2{
    top: 10%;
    left: 1%;
  }
}
/* @media only screen and (max-width:1381px) {
  .head1{
    position: absolute;
    top: 6%;
    left: 1%;
    font-size: 2vw;
  }
  .head2{
    top: 10%;
    left: 1%;
  }
} */
@media only screen and (max-width:484px) {
  .head1{
    font-size: 10vw;
  }
  /* .head2{
    
  } */
}
.co11 h4{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: lightgrey;
  font-weight: 700;
}
.contain2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  font-size: 15px;
}
.home{
  font-size: 20px;
  font-weight: 600;
  color: #303030;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home1 img{
  width: 10px;
  height: 10px;
}
.btn button{
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid lightgray;
  background-color: #100055;
  color: white;
}
.btn button:hover{
  cursor: pointer;
  background-color: #150074;
}